@font-face {
    font-family: Kenia;
    src: url(src/fonts/Kenia-Regular.ttf);
}
h2 {
    color: rgb(0, 0, 0);
}
h3 {
    font-size: 200%;
}
h4 {
    font-weight: 800;
}
h5 {
    font-family: Kenia;
}