#caixa-externa{
    background-color: rgb(51, 1, 99);
    padding: 5px 10px 5px 10px;
}
div.caixa{
    background-color: blue;
}
div.caixa p.texto-branco{
    color: rgb(255, 255, 255);
    background-color: red;
    
}

div.caixa p{
    color: rgb(255, 217, 0);
    
}



